<header>
  <div class="title">
    <h1>Technology Blog</h1>
    <h2>Everything Technology!</h2>
  </div>
  <div class="logo">
    <img src="/imgs/logos/logo.png" alt="Logo here" height="250" width="400" />
  </div>
</header>